*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.background{
    width: 1024px;
    height: 600px;
    background-image: url(../img/background.png);
    padding: 20px 0 0 20px;
    margin: 25px auto;
}

.outerbox{
    width: 808px;
    height: 544px;
    background-image: url(../img/outerbox.png);
}

.wrapper{
    display: flex;
    flex-direction: row;
    padding: 32px 0 0 32px;
}

.wrapper_left{
    width: 208px;
    height: 472px;
    display: flex;
    flex-direction: column;
}

.wrapper_left_header{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.today{
    font-size: 9px;
}

.wrapper_left_body{
    width: 100;
    height: 100%;
    border: 1px solid gray;
    border-radius: 15px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
}


.left_body_header{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.left_body_header_gray{
    width: 148px;
    height: 133px;
    background: gray;
}

.left_body_header_line{
    border-top: 1px dotted black;
    margin:12px 0 ;
}

.left_body_profile{
    width: 100%;
    height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}

.profile_detail{
    color: #999999;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.fas{
    color: black;
    margin-right: 10px;
    width: 5px;
    height: 5px;
    margin-top: 3px;
}


.left_body_footer{
    width: 100%;
    margin-bottom: 30px;
}

.feel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.feel_title{
    font-size: 11px;
    color: gray;
    margin-bottom: 5px;
}

.feel_select{
    font-size: 10px;
    width: 150px;
}

.wrapper_right{
    width: 524px;
    height: 472px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 5px;
}

.wrapper_right_header{
    width: 510px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 14px;
    align-items: flex-end;
}

.right_header_title, .right_header_setting{
    color: #55b2e4;
    font-size: 9px;
}

.right_header_title{
    font-size: 16px;
}

.wrapper_right_body{
    width: 510px;
    height: 445px;
    border: solid 1px gray;
    background: white;
    border-radius: 15px;
}

iframe{
    width: 100%;
    height: 100%;
    border: none;
}

.navigation{
    width: 62px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    margin-left: 722.5px;
    top: 120px;
}

.navigation_item{
    width: 60px;
    height: 30px;
    background: #2982b5;
    border: 1px solid black;
    color: white;
    border-radius: 0 10px 10px 0;
    font-size: 10px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}