* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.background {
    width: 1024px;
    height: 600px;
    background-image: url(../img/background.png);
    padding: 20px 0 0 20px;
    margin: 25px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.login_wrap{
    background: white;
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 500px;
    justify-content: center;
    border-radius: 15px;
    border: 2px solid #2982b5;
    box-shadow: 3px 3px 25px rgba(32, 37, 44, 0.25);
    margin-top: -30px;
}

.login{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    text-align: center;
}

.login_title{
    width: 100%;
    height: 94px;
    margin-top: 60px;
}

.login_title h2{
    font-size: 30px;
    font-weight: 700;
}

form{
    margin-top: 20px;
}

.id_wrap, .password{
    font-size: 12px;
    margin-right:250px;
    font-weight: 900;
}

/* .password{
    margin-right: 137px;
} */

#LOGIN_ID , #LOGIN_PW{
    height: 50px;
    width: 300px;
    border-radius: 20px;
    border: #2982b5 1px solid;
}

input{
    font-size: 10px;
    padding-left: 10px;
}



.find{
    margin-top: 10px;
    margin-left: 180px;
}

.find > a{
    text-decoration-line: none;
    font-size: 10px;
    color: gray;
}

.lo_btn{
    margin-top: 25px;
}

#LOGIN_BTN{
    width: 300px;
    height: 50px;
    color: rgb(18, 18, 18);
    font-size: 15px;
    font-weight: 800;
    border-radius: 20px;
    border: 1px solid #f8fbfd;
    background: linear-gradient(rgb(245, 229, 246), #d3ebf8);
}

#LOGIN_BTN:hover{
    cursor:pointer;
}

.join{
        background: white;
        width: 350px;
        height: 500px;
        border-radius: 15px;
        border: 2px solid #2982b5;
        box-shadow: 3px 3px 25px rgba(32, 37, 44, 0.25);
        margin-top: -30px;
        text-align: center;
        margin-right: 20px ;
}

.join_title{
    width: 100%;
    height: 94px;
    margin-top: 60px;
    color: gray;
    font-size: 22px;
    text-align: left;
    margin-left: 15px;
}

.join_ct{
    font-size: 15px;
    margin-top: -30px;
    margin-left: 2px;
    font-weight: 200;
    color: gray;
}

.btn{
    display: flex;
    border: 1px solid rgb(185, 182, 182);
    width: 180px;
    height: 50px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 100px
}

.btn>a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}
