.clock {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


h1 {
    display: inline-block;
    padding: 10px 40px 10px 40px;
    color: navy;
    border: solid 3px black;
    border-radius: 50px;

}

